:root {
    /*red*/
    --shades-light: #F8F4F0;
    --accent-light: #D1A38F;
    --main-brand-color: #CC8E59;
    --accent-dark: #987D7D;
    --shades-dark: #BF3237;
    --shades-darkest: rgba(166, 43, 47, 0.66);

    /*green*/
    /*--shades-light: #EEECE6;
    --accent-light: #829695;
    --main-brand-color: #1CC84B;
    --accent-dark: #368850;
    --shades-dark: #19251A;
    --shades-darkest: #141D14;*/

    /*blue*/
    /*--shades-light: #FBFAFA;
    --accent-light: #BBBFD4;
    --main-brand-color: #7EB1E2;
    --accent-dark: #74A8DC;
    --shades-dark: #2076D0;
    --shades-darkest: #1d6dc0;*/

    /*warm*/
    /*--shades-light: #E1C491;
    --accent-light: #BB977C;
    --main-brand-color: #7B3A48;
    --accent-dark: #7F818C;
    --shades-dark: #1E2522;
    --shades-darkest: rgba(25, 31, 29, 0.66);*/

    /*yellowish*/
    /*--shades-light: #E9E2CE;
    --accent-light: #EFD087;
    --main-brand-color: #B78265;
    --accent-dark: #803728;
    --shades-dark: #402E32;
    --shades-darkest: rgba(44, 31, 34, 0.66);*/

    /*not sure what to call this one but i like it*/
    /*--shades-light: #E9E2CE;*/
    /*--accent-light: #EFD087;*/
    /*--main-brand-color: #B78265;*/
    /*--accent-dark: #803728;*/
    /*--shades-dark: #402E32;*/
    /*--shades-darkest: rgba(44, 31, 34, 0.66);*/

    --primary-font-family: 'Roboto', sans-serif;
    --display-font-family: 'Playfair Display', serif;

    --primary-color: var(--main-brand-color);

    --secondary-color-light: var(--accent-light);
    --secondary-color-dark: var(--accent-dark);

    --block-color-light: var(--shades-light);
    --block-color-dark: var(--shades-dark);

    --site-menu-color: var(--shades-darkest);
    --site-menu--item-background-color-hover-mobile: var(--shades-darkest);
    --site-menu-font-color: var(--shades-light);
    --site-menu-hamburger-color: var(--shades-light);
    --site-menu-height: 5rem;

    --site-background-color: var(--shades-dark);

    --drop-shadow-object: 0 3px 10px rgb(0 0 0 / 0.2);
    --drop-shadow-font: 2px 2px rgb(0 0 0 / 0.2);

    --padding-small: .5rem;
    --padding-medium: 1.5rem;
    --padding-large: 5rem;

    --block-height-medium: 30rem;
}

body {
    margin: 0;
    background-color: var(--site-background-color);
}

button {
    background-color: var(--shades-dark);
    color: var(--shades-light);

    padding: 1.125rem 2.25rem;

    font-family: var(--primary-font-family);
    font-size: 1.3125rem;

    border: none;
    border-radius: 5rem;

    cursor: pointer;
}